<h1>Iniciar Sesi칩n</h1>

<%= form_with url: '/login', local: true do |form| %>
  <div>
    <%= form.label :email, "Correo Electr칩nico" %>
    <%= form.email_field :email %>
  </div>
  <div>
    <%= form.label :password, "Contrase침a" %>
    <%= form.password_field :password %>
  </div>
  <div>
    <%= form.submit "Iniciar Sesi칩n", class: "btn btn-primary" %>
  </div>
<% end %>
