<!-- app/views/users/new.html.erb -->
<h1>Registro en Major Team</h1>

<%= form_with model: @user, url: signup_path, local: true do |form| %>
  <div>
    <%= form.label :name, "Nombre" %>
    <%= form.text_field :name, required: true %>
  </div>

  <div>
    <%= form.label :email, "Correo Electrónico" %>
    <%= form.email_field :email, required: true %>
  </div>

  <div>
    <%= form.label :password, "Contraseña" %>
    <%= form.password_field :password, required: true %>
  </div>

  <div>
    <%= form.label :profile_picture, "Foto de Perfil" %>
    <%= form.file_field :profile_picture %>
  </div>

  <div>
    <%= form.label :logo, "Logotipo de tu Negocio/Emprendimiento (Opcional)" %>
    <%= form.file_field :logo %>
  </div>

  <div>
    <%= form.label :description, "Pequeña Biografía" %>
    <%= form.text_area :description, placeholder: "Cuéntanos sobre ti y tus habilidades..." %>
  </div>

  <div>
    <%= form.submit "Registrarme" %>
  </div>
<% end %>