<h1>Publicar un Nuevo Producto/Servicio</h1>

<%= render "form" , product: @product %> 

<%= form_with model: @product_offer do |form| %>
  <!-- Campos del formulario -->
  <%= form.label :title %>
  <%= form.text_field :title %>

  <%= form.label :description %>
  <%= form.text_area :description %>

  <%= form.submit "Crear Oferta" %>
<% end %>