<h1>Lista de Productos</h1>

<%= link_to "Publicar Producto", new_product_path, class: "btn btn-primary btn-lg" %>


<!-- Botón de prueba -->
<button class="btn btn-primary">Botón de Prueba</button>

<!-- Menú desplegable para probar Popper.js -->
<div class="dropdown mt-3">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
    Menú Desplegable
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <li><a class="dropdown-item" href="#">Opción 1</a></li>
    <li><a class="dropdown-item" href="#">Opción 2</a></li>
    <li><a class="dropdown-item" href="#">Opción 3</a></li>
  </ul>
</div


<div class="row">
  <% @products.each do |product| %>
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title"><%= product.name %></h5>
          <p class="card-text"><%= truncate(product.description, length: 100) %></p>
          <p class="card-text"><strong>Precio:</strong> <%= number_to_currency(product.price) %></p>
          <%= link_to "Ver más", product_path(product), class: "btn btn-secondary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>